body {
    /*background: linear-gradient(0.25turn, hsl(221, 96%, 21%), hsl(41, 92%, 76%), hsl(180, 63%, 31%));*/
    background: linear-gradient(0.375turn, #71a9bd, #F27D74, #062373);
    color: #ffe7b3;
}

h2{
    font-family: "assets/Fonts/Oswald-Medium.ttf", sans-serif;
    color: #ffc4ab;
}
button {
    background-color: #F27D74;
    border: none;
    color: white;
    text-align: center;
    font-family: "assets/Fonts/Oswald-Medium.ttf", sans-serif;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;

}
button:hover {
    background-color: #35078c;
}

p {
    font-family: "assets/Fonts/Oswald-Medium.ttf", sans-serif;
    color: #ffc4ab;
}

main {
    width: max-content;
    height: max-content;
    

    margin: 7% auto;
    position: relative;
}
